<a href="https://colab.research.google.com/github/anitashar/DS-Unit-2-Linear-Models/blob/master/ANITA_SHARMA_Copy_of_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*
    # !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [19]:
# Have a look at the data
print(df.shape)
df.head()

(423, 66)

               Location      Burrito       Date  ... Avocado Corn Zucchini
0    Donato's taco shop  California   1/18/2016  ...     NaN  NaN      NaN
1  Oscar's Mexican food  California   1/24/2016  ...     NaN  NaN      NaN
2  Oscar's Mexican food     Carnitas  1/24/2016  ...     NaN  NaN      NaN
3  Oscar's Mexican food  Carne asada  1/24/2016  ...     NaN  NaN      NaN
4          Pollos Maria   California  1/27/2016  ...     NaN  NaN      NaN

[5 rows x 66 columns]

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [21]:
# look at the shape after dropping unrated burritos
print(df.shape)
df.head()

(421, 67)

               Location      Burrito       Date  ... Corn Zucchini  Great
0    Donato's taco shop  California   1/18/2016  ...  NaN      NaN  False
1  Oscar's Mexican food  California   1/24/2016  ...  NaN      NaN  False
2  Oscar's Mexican food     Carnitas  1/24/2016  ...  NaN      NaN  False
3  Oscar's Mexican food  Carne asada  1/24/2016  ...  NaN      NaN  False
4          Pollos Maria   California  1/27/2016  ...  NaN      NaN   True

[5 rows x 67 columns]

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [25]:
# after dropping few columns look at the data again
print(df.shape)
df.head()

(421, 59)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [29]:
df.isnull().sum().sort_values(ascending=False)

Queso             421
Carrots           420
Zucchini          420
Lobster           420
Ham               419
Sushi             419
Corn              418
Bacon             418
Mushroom          418
Taquito           417
Chile relleno     417
Nopales           417
Egg               416
Fish              415
Tomato            414
Pineapple         414
NonSD             414
Salsa.1           414
Bell peper        414
Cabbage           413
Lettuce           410
Avocado           408
Cilantro          406
Onion             404
Shrimp            400
Chicken           400
Mass (g)          399
Density (g/mL)    399
Chips             395
Unreliable        388
Beans             386
Rice              385
Sauce             383
Pork              370
Google            334
Yelp              334
Sour cream        329
Fries             294
Guac              267
Pico              263
Cheese            262
Beef              242
Volume            140
Circum            140
Length            138
Salsa              25
Temp               20
Meat               14
Meat:filling        9
Cost                7
Fillings            3
Wrap                3
Hunger              3
Uniformity          2
Synergy             2
Date                0
Great               0
Tortilla            0
Burrito             0
dtype: int64

## **Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.**

In [30]:
# check the data for date column
print(df['Date'].dtypes)
df[['Date']]

object

          Date
0    1/18/2016
1    1/24/2016
2    1/24/2016
3    1/24/2016
4    1/27/2016
..         ...
418  8/27/2019
419  8/27/2019
420  8/27/2019
421  8/27/2019
422  8/27/2019

[421 rows x 1 columns]

In [34]:
# change the date column string to datetype
df['Date']= pd.to_datetime(df['Date'], infer_datetime_format=True)
df['Date'].dtypes

dtype('<M8[ns]')

In [41]:
df[['Date']]

          Date
0   2016-01-18
1   2016-01-24
2   2016-01-24
3   2016-01-24
4   2016-01-27
..         ...
418 2019-08-27
419 2019-08-27
420 2019-08-27
421 2019-08-27
422 2019-08-27

[421 rows x 1 columns]

In [40]:
# check the years in date column
pd.unique(df['Date'].dt.year)

array([2016, 2026, 2011, 2015, 2017, 2018, 2019])

In [45]:
# create train data=2016 & ealier
# validation data = 2017
#  & test data = 2018 & later
cutoff = pd.to_datetime('2016-12-31')
cutoff1 = pd.to_datetime('2018-01-01')

train = df[df.Date <= cutoff]
test = df[df.Date >= cutoff1]
Val = df[(df.Date > cutoff) & (df.Date < cutoff1)]

print('Train Dataset:',train.shape)
print('Test Dataset:',test.shape)
print('Validation Dataset:', Val.shape)

Train Dataset: (298, 59)
Test Dataset: (38, 59)
Validation Dataset: (85, 59)

In [48]:
# Y_train
y_train = train['Great']
y_train.head()

0    False
1    False
2    False
3    False
4     True
Name: Great, dtype: bool

In [49]:
# X_train
X_train = train.drop('Great',axis=1)
X_train.head()

      Burrito       Date  Yelp  Google Chips  ...  Bacon  Sushi  Avocado  Corn  Zucchini
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN    NaN      NaN   NaN       NaN
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN    NaN      NaN   NaN       NaN
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN    NaN      NaN   NaN       NaN
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN    NaN      NaN   NaN       NaN
4  California 2016-01-27   4.0     3.8     x  ...    NaN    NaN      NaN   NaN       NaN

[5 rows x 58 columns]

In [0]:
# y_test 
y_test = test['Great']

# y_val 
y_Val = Val['Great']

In [0]:
# X_test 
X_test = test.drop('Great',axis=1)

# X_Val
X_Val = Val.drop('Great',axis=1)

## **Begin with baselines for classification.**

In [54]:

y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
# majority class
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

In [56]:
# y_pred
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)
accuracy_score(y_train, y_pred)

0.5906040268456376

In [57]:
# baseline 
# Using Sklearn DummyClassifier
from sklearn.dummy import DummyClassifier

# Fit the DummyClassifier
baseline = DummyClassifier(strategy ='most_frequent')
baseline.fit(X_train,y_train)

# Make predictions on validation data
y_pred = baseline.predict(X_Val)
accuracy_score(y_Val,y_pred)

0.5529411764705883

## **Use scikit-learn for logistic regression.**

In [62]:
#1. import estimator class
from sklearn.linear_model import LogisticRegression

#2. instantiate the class
log_reg = LogisticRegression(solver ='lbfgs')

# 3. Arrange X and y feature matrices
features = ['Yelp',	'Google','Cost','Hunger','Tortilla'	,'Temp',	'Meat',	'Fillings',	'Meat:filling',	'Uniformity',	'Salsa','Synergy','Wrap']
X_train =train[features]
X_Val = Val[features]
y_train = train['Great']
y_Val = Val['Great']

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_Val_imputed = imputer.transform(X_Val)


# 4. Fit the model
log_reg.fit(X_train_imputed,y_train)

print ('validation Accuracy',log_reg.score(X_Val_imputed,y_Val))

validation Accuracy 0.8352941176470589

In [63]:
# The predictions look like this
log_reg.predict(X_Val_imputed)

array([False, False,  True,  True, False, False,  True,  True, False,
        True,  True, False, False, False,  True, False, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True, False, False, False, False, False,
        True,  True, False, False, False,  True,  True,  True,  True,
        True, False, False,  True, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False, False,  True,  True,  True,  True,
        True, False,  True,  True])

## **Get your model's validation accuracy. (Multiple times if you try multiple iterations.)**

In [68]:
# importing estimator class
import category_encoders as ce 
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

# use train & validation dataset for predicting better model
target = 'Great'
Features = ['Yelp',	'Google','Cost','Hunger','Tortilla'	,'Temp',	'Meat',	'Fillings',	'Meat:filling',	'Uniformity',	'Salsa','Synergy','Wrap']
X_train = train[features]
y_train = train[target]
X_Val = Val[features]
y_Val = Val[target]
print(X_train.shape,X_Val.shape)

# One Hot Encoding
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_Val_encoded = encoder.transform(X_Val)
print(X_train_encoded.shape, X_Val_encoded.shape)

# Impute missing values
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_Val_imputed = imputer.transform(X_Val_encoded)

# standardize the data so we can compare
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_Val_scaled = scaler.transform(X_Val_imputed)

# applying cross validation
model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)

# Fit the model
model.fit(X_train_scaled, y_train)
print('Validation Accuracy', model.score(X_Val_scaled, y_Val))

(298, 13) (85, 13)
(298, 13) (85, 13)
Validation Accuracy 0.8823529411764706

## **Get your model's test accuracy. (One time, at the end.)**

In [70]:
X_test = test[features]
X_test_encoded = encoder.transform(X_test)
X_test_imputed = imputer.transform(X_test_encoded)
X_test_scaled = scaler.transform(X_test_imputed)
y_pred = model.predict(X_test_scaled)
print('test accuracy',model.score(X_test_scaled,y_test))

test accuracy 0.7631578947368421